.center 
{
    text-align:center;
}
.center-page
{
    width:300px;
    height:300px;
    position:absolute;

    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

.space-vert
{
    margin-top:20px;
}

.footer-pos
{
    width:auto;
    height:auto;
    position:absolute;

    top:600px;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

body
{
    /*padding-top: 50px;*/
}


.demo-container .RadPanelBar,
.demo-container .RadPanelBar .rpSlide,
.demo-container .RadPanelBar .rpGroup,
.demo-container .RadPanelBar .rpItem,
.demo-container .RadPanelBar .rpTemplate {
    overflow: visible !important;
}
.demo-container .RadPanelBar .rpLevel1 .rpItem {
    padding: 0;
}
 

/** Customize the menu */
.demo-container .RadMenu ul.rmRootGroup {
    border: 0;
    *zoom: 0;
}
.demo-container .RadMenu .rmLink {
    float: none;
}
 
.rmRootGroup {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-side{float:left;height:inherit;width:200px;padding:15px 15px;font-size:12px;line-height:20px; background-color:transparent}
.navbar-side:focus,.navbar-side:hover{text-decoration:none}

/** End */

html .demo-container .radHtmlChartWrapper {
    float: left;
    width: 450px;
    height: 430px;
}
 
.RadMultiPage {
    border: 1px solid #cdcdcd;
     
}
 
.contentWrapper2 {
    width: 1100px;
    margin: 0 auto;
}
 
    .contentWrapper2:after {
        content: "";
        display: block;
        clear: both;
    }
 
html .RadGrid .RadGrid_MetroTouch,
html .RadMultiPage .rmpView {
    height: 430px;
}

/*.dock {
    position:relative;
    bottom: 5px;
    left: 0;
    right: 0;
    height: auto;
    line-height: 100px;
    width:80%;
    float:right;
}*/

/* Edit Form */
  div.qsf-right-content .qsf-col-wrap 
{
    position: static;
}
 
.rgEditForm {
    width: auto !important;
    /*height:100px;*/
    /*overflow:scroll;*/
    /*height: auto !important;*/
    overflow:auto;
}
 
* + html .rgEditForm.popUpEditForm {
    /*width: auto !important;
    position:relative;*/
    padding:20px 10px 14px 14px;
}
 

/*.rgEditForm > div + div,
.RadGrid .rgEditForm {
    height: 600px !important;
    overflow-y:auto;
}*/
 
.rgEditForm > div > table{
    /*height: 100%;*/
}
 
.rgEditForm > div > table > tbody > tr > td {
    /*padding: 20px 10px 10px 10px;
    padding-left:15px;
    font-size:13px;*/
}
 
.rfdSelectBoxDropDown {
    z-index: 100011;
}

.dataEntry{   
   padding: 20px 10px 10px 10px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size:smaller;
       position:absolute;
}


/** Combo Box */
/** Customize the demo canvas */
 
.demo-container label {
    padding-right: 10px;
    width: 185px;
    display: inline-block;
}
 
.demo-container .RadButton {
    margin-top: 20px;
}
 
 
/** Columns */
.rcbHeader ul,
.rcbFooter ul,
.rcbItem ul,
.rcbHovered ul,
.rcbDisabled ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    list-style-type: none;
}
 
.customRadComboBox.RadComboBoxDropDown .rcbHeader {
    padding: 5px 27px 4px 7px;
}
 
.rcbScroll {
    overflow: scroll !important;
    overflow-x: hidden !important;
}
 
.col1,
.col2,
.col3 {
    margin: 0;
    padding: 0 5px 0 0;
    width: 100%;
    line-height: 14px;
    float: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}
 
 
/** Multiple rows and columns */
.multipleRowsColumns .rcbItem,
.multipleRowsColumns .rcbHovered {
    float: left;
    margin: 0 1px;
    min-height: 13px;
    overflow: hidden;
    padding: 2px 19px 2px 6px;
    width: 193px;
}
 
 
.results {
    display: block;
    margin-top: 20px;
}


/** RADGRID **/
.RadGrid_ModernBrowsers
{
    border-radius: 10px;
    overflow: hidden;
}
 
div.RadGrid_MetroTouch td.rgPagerCell
{
    border-left: 0;
}
 
.RadGrid_Rounded
{
    position: relative;
}
 
.ltRounded,
.rtRounded,
.lbRounded,
.rbRounded
{
    background: url(images/rounded_corners.png);
    position: absolute;
    width: 10px;
    height: 10px;
    top: -1px;
    left: -1px;
}
 
.rtRounded
{
    right: -1px;
    left: auto;
    background-position: -10px 0;
}
 
.lbRounded
{
    top: auto;
    bottom: -1px;
    background-position: 0 -10px;
}
 
.rbRounded
{
    top: auto;
    left: auto;
    right: -1px;
    bottom: -1px;
    background-position: -10px -10px;
}

/*Rad Grid Batch Editing*/
.RadGrid tr.Row50 
{ 
    /*background:yellow;*/ 
} 
 
.RadGrid .Row10 td 
{ 
    padding-top:0; 
    padding-bottom:0; 
    height:10px; 
    vertical-align:middle; 
}  


li.rlbItem .rlbText {
            color: red;
        }
         
.message {
    line-height: 37px;
}
 
.RadGrid .rgRow,
.RadGrid .rgAltRow {
    height: 15px;
}
 
.RadGrid_Silk .rgRow,
.RadGrid_Silk .rgAltRow,
.RadGrid_Glow .rgRow,
.RadGrid_Glow .rgAltRow {
    height: 15px;
}
 
.RadGrid_MetroTouch .rgRow,
.RadGrid_MetroTouch .rgAltRow,
.RadGrid_BlackMetroTouch .rgRow,
.RadGrid_BlackMetroTouch .rgAltRow {
    height: 15px;
}

/*Rad Button*/
.goButtonClassHov .rbText {
    color: White !important;
}
a.RadButton_MetroTouch.rbImageButton:hover,
a.RadButton_MetroTouch.rbImageButton:active,
a.RadButton_MetroTouch.rbImageButton:focus {
    border: 0 !important;
    background-color: transparent !important;
}