<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.DbConString" connectionString="Data Source=192.168.1.252;Initial Catalog=PSG_DEV;User ID=IT;Password=PSGPRO"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>