<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=12.1.18.516, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    </configSections>
    <Telerik.Reporting>
        <Cache provider="" />
        <cache provider="" />
        <assemblyReferences>
            <add name="ReportLibrary" version="1.0.0.0" />
        </assemblyReferences>
        <SessionState provider="" />
        <restReportService>
            <storage provider="" />
            <reportResolver provider="" />
        </restReportService>
        <appData path="" />
    </Telerik.Reporting>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.DbConString" connectionString="Data Source=PSGHONB036;Initial Catalog=PSG_ALL_DEV;User ID=IT;Password=PSGPRO"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
</configuration>